.events-container {
  max-width: 900px;
  min-width: 100px;
  margin: 20px auto 0;
}

.icon-button {
  margin-right: 10px;
  color: var(--primary-color);
}

/*Aligner les boutons sans bouger les lignes du tableau*/
.button-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

  