<header>
  <nav [ngClass]="{'vertical-nav': isAdmin, 'horizontal-nav': !isAdmin}">
      
    <!-- Barre de navigation pour les utilisateurs classiques -->
    <div *ngIf="!isAdmin" class="nav-link-left">
      <button mat-button routerLink="/home" routerLinkActive="active">Paris 2024</button>
    </div>
    <div *ngIf="!isAdmin" class="nav-link-center">
      <button mat-button routerLink="/home" routerLinkActive="active">Accueil</button>
      <button mat-button routerLink="/offers" routerLinkActive="active">Offres</button>
    </div>
    <div *ngIf="!isAdmin" class="nav-link-right">
      <button mat-button routerLink="/cart" routerLinkActive="active">
        <span class="material-symbols-outlined">shopping_cart</span>
      </button>
      <button mat-flat-button routerLink="/login" routerLinkActive="active" *ngIf="!isLoggedIn">Connexion</button>
  <button mat-flat-button (click)="logout()" *ngIf="isLoggedIn">Déconnexion</button>
    </div>
  
      <!-- Barre de navigation verticale pour l'admin -->
    <div *ngIf="isAdmin">
      <button class="vertical-nav-button" mat-button routerLink="/admin/create-event" routerLinkActive="active">
          Créer un événement
      </button>
      <button class="vertical-nav-button" mat-button routerLink="/admin/event-list" routerLinkActive="active">
          Gérer les événements
      </button>
      <button class="vertical-nav-button" mat-button routerLink="/admin/create-offer" routerLinkActive="active">
          Créer une offre
      </button>
      <button class="vertical-nav-button" mat-button routerLink="/admin/offer-list" routerLinkActive="active">
          Gérer les offres
      </button>
      <button (click)="logout()" class="vertical-nav-button" mat-button routerLinkActive="active">
            Quitter
        <mat-icon (click)="logout()">exit_to_app</mat-icon>
      </button>
    </div>
  
  </nav>
</header>
  