<header>
  <!-- Bouton menu pour mobile -->
  <div class="burger-menu" *ngIf="mobileView">
    <button mat-icon-button (click)="toggleMobileMenu()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <!-- Barre de navigation -->
  <nav *ngIf="!isAdmin" [ngClass]="{'horizontal-nav': true,'mobile-hidden': mobileView && !mobileMenuOpen}">

    
    <!-- Utilisateur classique -->
    <div *ngIf="!isAdmin && !mobileView" class="nav-link-left">
      <button mat-button routerLink="/home" routerLinkActive="active">Paris 2024</button>
    </div>
    <div *ngIf="!isAdmin" class="nav-link-center">
      <button mat-button routerLink="/home" routerLinkActive="active">Accueil</button>
      <button mat-button routerLink="/offers" routerLinkActive="active">Offres</button>
      <button mat-button routerLink="/tickets" routerLinkActive="active">Mes billets</button>
    </div>
    <div *ngIf="!isAdmin" class="nav-link-right">
      <button *ngIf="cartId !== undefined" mat-button [routerLink]="['/cart', cartId]" routerLinkActive="active">
        <span class="material-symbols-outlined">shopping_cart</span>
      </button>
      <button mat-flat-button routerLink="/login" routerLinkActive="active" *ngIf="!isLoggedIn">Connexion</button>
      <button mat-flat-button  (click)="logout()" *ngIf="isLoggedIn">Déconnexion</button>
    </div>
  </nav>
  
    <!-- Barre de navigation verticale pour l'admin -->
  <nav *ngIf="isAdmin" [ngClass]="{'vertical-nav': true, 'mobile-hidden': mobileView && !mobileMenuOpen}">
    <div class="vertical-nav-button-wrapper">
      <button class="vertical-nav-button" mat-button routerLink="/admin" routerLinkActive="active">
          Accueil
      </button>
      <button class="vertical-nav-button" mat-button routerLink="/admin/create-event" routerLinkActive="active">
          Créer un événement
      </button>
      <button class="vertical-nav-button" mat-button routerLink="/admin/event-list" routerLinkActive="active">
          Gérer les événements
      </button>
      <button class="vertical-nav-button" mat-button routerLink="/admin/create-offer" routerLinkActive="active">
          Créer une offre
      </button>
      <button class="vertical-nav-button" mat-button routerLink="/admin/offer-list" routerLinkActive="active">
          Gérer les offres
      </button>
      <button (click)="logout()" class="vertical-nav-button" mat-button routerLinkActive="active">
            Quitter
        <mat-icon (click)="logout()">exit_to_app</mat-icon>
      </button>
    </div>
  
  </nav>
</header>

  