/* Barre de navigation de base (horizontal) */
.horizontal-nav{
    background-color: var(--primary-color);
    height: 60px;
    color: var(--white-color);
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.nav-link {
    width: 33.33%;
}

.nav-link-left {
    text-align: left;
    width: 33.33%;
}

.nav-link-right {
    text-align: right;
    width: 33.33%;
}

.nav-link-center {
    width: 33.33%;
    display: flex;
    justify-content: space-evenly;
}

/* Personnalisation des liens de la barre de navigation */
.mat-mdc-unelevated-button:not(:disabled) {
    background-color: var(--primary-color);
    color: var(--white-color);
    border: var(--white-color) 1px solid;
}

.mat-mdc-unelevated-button:not(:disabled):hover {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    border: var(--tertiary-color) 1px solid;
}

.mat-mdc-button:not(:disabled) {
    color: var(--white-color);
}

/* Barre de navigation verticale (admin) */
.vertical-nav {
    display: block;
    position: fixed; 
    top: 0;
    left: 0;
    width: 250px; 
    height: 100%;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding-top: 100px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

/* Styles pour les boutons */
button {
    padding: 10px;
    margin: 5px 0;
    text-align: left;
}

/* Spécifique pour les boutons sur le côté admin */
.vertical-nav button.mat-mdc-unelevated-button:not(:disabled) {
    background-color: var(--primary-color);
    color: var(--white-color);
    border: var(--white-color) 1px solid;
}

.vertical-nav button.mat-mdc-unelevated-button:not(:disabled):hover {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    border: var(--tertiary-color) 1px solid;
}

.vertical-nav-button {
    width: 100%;
    margin-bottom: 15px;
}
