<app-hero-scene [title]="title" [subtitle]="subtitle"></app-hero-scene>
<div class="container">
  <mat-form-field appearance="fill">
    <mat-label>Filtrer par catégorie</mat-label>
    <mat-select [(value)]="selectedCategory" (selectionChange)="applyFilter()">
      <mat-option value="">Toutes</mat-option>
      <mat-option *ngFor="let cat of category" [value]="cat">{{ cat }}</mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-table *ngIf="!isMobileView" [dataSource]="offers" matSort>

    <!-- Titre de l'événement -->
    <ng-container matColumnDef="eventTitle">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Événement </mat-header-cell>
      <mat-cell *matCellDef="let offer"> {{ offer.eventTitle }} </mat-cell>
    </ng-container>

    <!-- Nom de l'offre -->
    <ng-container matColumnDef="offerCategoryTitle">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Offre </mat-header-cell>
      <mat-cell *matCellDef="let offer"> {{ offer.offerCategoryTitle }} </mat-cell>
    </ng-container>

    <!-- Places par offre -->
    <ng-container matColumnDef="offerCategoryPlacesPerOffer">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Places par offre </mat-header-cell>
      <mat-cell *matCellDef="let offer"> {{ offer.offerCategoryPlacesPerOffer }} </mat-cell>
    </ng-container>
  
    <!-- Date -->
    <ng-container matColumnDef="eventDateTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Date </mat-header-cell>
      <mat-cell *matCellDef="let offer"> {{ offer.eventDateTime | date:'dd/MM/yyyy HH:mm' }} </mat-cell>
    </ng-container>
  
    <!-- Lieu -->
    <ng-container matColumnDef="eventLocation">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Lieu </mat-header-cell>
      <mat-cell *matCellDef="let offer"> {{ offer.eventLocation }} </mat-cell>
    </ng-container>

    <!-- Offer ID -->
    <ng-container matColumnDef="offerId">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let offer"> {{ offer.offerId }} </mat-cell>
    </ng-container>
  
    <!-- Prix -->
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Prix (€) </mat-header-cell>
      <mat-cell *matCellDef="let offer"> {{ offer.price }} </mat-cell>
    </ng-container>
  
    <!-- Dispo -->
    <ng-container matColumnDef="availability">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Dispo </mat-header-cell>
      <mat-cell *matCellDef="let offer">
        <mat-icon color="{{ offer.availability ? 'primary' : 'warn' }}">
          {{ offer.availability ? 'check_circle' : 'cancel' }}
        </mat-icon>
      </mat-cell>
    </ng-container>
  
    <!-- Action -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let offer">
        <button mat-button class="custom-button" [disabled]="!offer.availability" (click)="addToCart(offer)">
          <span class="full-label">Ajouter au panier</span>
          <mat-icon class="icon-only">add</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  
  </mat-table>

  <div class="offers-list" *ngIf="isMobileView">
    <mat-card *ngFor="let offer of offers.data" class="offer-card">
      <h3>{{ offer.eventTitle }}</h3>
      <p>Offre: {{ offer.offerCategoryTitle }}, {{ offer.offerCategoryPlacesPerOffer }} place(s) Prix: {{ offer.price }} €</p>
      <p>{{ offer.eventDateTime | date:'dd/MM/yyyy HH:mm' }}  {{ offer.eventLocation }}</p>
      <p>{{ offer.availability ? 'Disponible' : 'Indisponible' }}</p>
      <button mat-flat-button class="custom-button" [disabled]="!offer.availability" (click)="addToCart(offer)">
        Ajouter au panier
      </button>
    </mat-card>
  </div>
  
</div>


  
  
  

