<footer *ngIf="!isAdmin" class="footer-container">
    <div class="top-container">
        <div class="left-container">
            <button mat-button routerLink="/home" routerLinkActive="active">Paris 2024</button>
        </div>
        <div class="right-container">
            <a mat-mini-fab href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a mat-mini-fab href="https://www.x.com/" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
            <a mat-mini-fab href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
    <div class="bottom-container">
        <button mat-button routerLink="/policy-confidantiality" routerLinkActive="active">Politique de confidantialité</button>
        <span class="separator">|</span>
        <button mat-button routerLink="/cgv" routerLinkActive="active">Conditions Générales de Ventes</button>
        <span class="separator">|</span>
        <button mat-button routerLink="/cookie-management" routerLinkActive="active">Politique et Gestion des Cookies</button>
    </div>
</footer>
